{% macro render_field(field, col="col-lg-12", label=True) %}
  {% with errors = field.errors %}
    <div class="form-group {{ col }}">
      {% if label %}
	{{ field.label(class="control-label") }}
      {% endif %}
      {{ field(class='form-control is-invalid' if errors else 'form-control', **kwargs)|safe }}
      {% if errors %}
        {% for error in errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  {% endwith %}
{% endmacro %}
