{% macro render_pagination(pagination, endpoint) %}
  <ul class="pagination">
    {% for page in pagination.iter_pages() %}
      {% if page %}
	{% if page != pagination.page %}
	  {# Calculate argument to preserve GET arguments #}
	  {% set args = request.args.deepcopy().to_dict() %}
	  {% do args.update(kwargs) %}
          <li class="page-item"><a class="page-link" href="{{ url_for(endpoint, page=page, **args) }}">{{ page }}</a></li>
	{% else %}
          <li class="page-item active"><span class="page-link">{{ page }}</span></li>
	{% endif %}
      {% else %}
	<li class="page-item disabled"><span class="page-link">…</span></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}
