{% macro render_story_card(story) %}
  <div class="card mb-3">
    <div class="card-body story-card">
      <h5 class="card-title">
	<a href="{{ url_for('story.show_story', story_id=story.id) }}">{{ story.title|e }}</a><small>, by <a href="{{ url_for('user.profile', username=story.author.username) }}">{{ story.author }}</a></small>
      </h5>

      <div class="card-subtitle mb-2">
	{# Fandoms #}
	{% for fandom in story.fandom %}
	  <a class="badge badge-dark" href="{{ url_for('browse.fandom', name=fandom.name) }}">{{ fandom.name }}</a>
	{% endfor %}
	
	{# Tags #}
	{% for tag in story.tags %}
	  <span class="badge badge-primary">{{ tag.name }}</span>
	{% endfor %}
      </div>
      
      <p class="card-text mb-2">
	{{ story.summary }}
      </p>
      <div class="row align-items-end">
	<div class="col-6">
	  {# Buttons to edit the story #}
	  {% if current_user == story.author %}
	    <a href="{{ url_for('story.edit_story', story_id=story.id) }}" class="btn btn-sm btn-secondary">{{ _("Edit story") }}</a>
	  {% endif %}
	</div>
	<div class="col-6 story-card-info">
	  <div class="story-card-single">
	    {{ _("Rating: ") }} {{ _(story.rating if story.rating else "Not rated") }}
	  </div>
	  <div class="story-card-single">
	    {{ _("Chapters: ") }} {{ story.chapters|length }}/{{ story.total_chapters if story.total_chapters else '?' }}
	  </div>
	  <div class="story-card-single">
	    {{ _("Likes:") }} {{ story.user_likes|length }}
	  </div>
	  <div class="story-card-single">
	    {{ _("Hits:") }} {{ story.stats.hits }}
	  </div>
	</div>
      </div>
      <div class="story-card-date">
	{{ arrow.get(story.updated_on).humanize() }}
      </div>
    </div>
  </div>
{% endmacro %}
