{% macro render_story_card(story) %}
  <div class="card mb-3">
    <div class="card-body story-card">
      <h5 class="card-title">
	<a href="{{ url_for('story.show_story', story_id=story.id) }}">{{ story.title|e }}</a>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
	<a href="{{ url_for('user.profile', username=story.author.username) }}">{{ story.author }}</a>
      </h6>
      <p class="card-text mb-2">
	{{ story.summary }}
      </p>
      <div class="story-card-info">
	<span class="story-card-single">
	  {{ _("Chapters: ") }} {{ story.chapters|length }}/{{ story.total_chapters if story.total_chapters else '?' }}
	</span>
	<span class="story-card-single">
	  {{ _("Likes:") }} {{ story.user_likes|length }}
	</span>
	<span class="story-card-single">
	  {{ _("Hits:") }} {{ story.hits }}
	</span>
      </div>
      <div class="story-card-date">
	{{ arrow.get(story.updated_on).humanize() }}
      </div>
    </div>
  </div>
{% endmacro %}
