{% from 'components/story_card.jinja2' import render_story_card with context %}
{% from 'components/pagination.jinja2' import render_pagination %}
{% extends 'base.jinja2' %}

{% block title %}{{  _("{collection} - Stories").format(collection=collection.name) }}{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      {# Calculate limit here because the expressions are long #}
      {% set begin_range = (stories_page.page - 1) * stories_page.per_page + 1 %}
      {% set end_range = stories_page.page * stories_page.per_page if stories_page.page * stories_page.per_page < stories_page.total else stories_page.total %}
      <h2> {{  _("{begin_range} - {end_range} of {total_stories} stories in '{collection}'").format(begin_range=begin_range, end_range=end_range, total_stories=stories_page.total, collection=collection.name) }} </h2>
      
      {# Pagination control top #}
      <div class="row justify-content-center">
	{{ render_pagination(stories_page, endpoint, name=collection.name) }}
      </div>

      {# Actual stories #}
      <div class="row">
	<div class="col-lg-9 text-justified">
	  {% for story in stories_page.items %}
	    {{ render_story_card(story) }}
	  {% endfor %}
	</div>
      </div>

      {# Pagination control bottom #}
      <div class="row justify-content-center">
	{{ render_pagination(stories_page, endpoint, name=collection.name) }}
      </div>
    </div>
  </section>
{% endblock %}
