# Ignore webassets cache
.sass-cache
.webassets-cache
editoggia/static/css
editoggia/static/js

# Ignore dev database
db.sqlite3

# Ignore egg-info
editoggia.egg-info

# Ignore yarn dependencies
node_modules
