[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-admin = "*"
flask-assets = "*"
flask-babel = "*"
flask-login = "*"
libsass = "*"
wtforms = "*"
email-validator = "*"
flask-bcrypt = "*"
editoggia = {editable = true,path = "."}

[dev-packages]
pytest = "*"
coverage = "*"
faker = "*"
