[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
editoggia = {editable = true,path = "."}
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-admin = "*"
flask-assets = "*"
flask-babelex = "*"
flask-login = "*"
flask-wtf = "*"
libsass = "*"
wtforms = "*"
email-validator = "*"
flask-bcrypt = "*"
requests = "*"
arrow = "*"
bleach = "*"
bs4 = "*"
psycopg2 = "*"
faker = "*"

[dev-packages]
pytest = "*"
pylint = "*"
coverage = "*"
flask-testing = "*"
