[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=1.1.2"
flask-sqlalchemy = "~=2.4.1"
flask-migrate = "~=2.5.3"
flask-security = "~=3.0.0"

[dev-packages]
pytest = "~=5.4.1"
