{% extends 'errors/base.jinja2' %}

{% block title %} {{ _('Internal Server Error') }} {% endblock %}

{% block description %}
  {% trans %}The server encountered an internal error during the processing of this request{% endtrans %}
{% endblock %}
