{% extends 'base.jinja2' %}

{% block title %} {{ _("Chapter") }} {{ chapter.nb }} — {{ chapter.name }}{% endblock %}

{% block content %}
  <section class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
	<h2 class="mx-5 text-center"> {{ story.name }}</h2>
	<a href="{{ url_for('user.profile', username=story.author.username) }}">
	  <h4 class="text-center"> {{ story.author }} </h4>
	</a>
	<hr />
	<h4 class="text-center">{{ _("Chapter") }} {{ chapter.nb }} — {{ chapter.name }}</h4>
	<div class="text-justify">
	  {{ chapter.content }}
	</div>
      </div>
    </div>
  </section>
{% endblock %}
