{% extends 'errors/base.jinja2' %}

{% block title %} {{ _('Page not found') }} {% endblock %}

{% block description %}
  {% trans %}The page or the resource you requested doesn't exist.{% endtrans %}
{% endblock %}
