{% from 'components/story_card.jinja2' import render_story_card %}
{% extends 'base.jinja2' %}

{% block title %}
  {% if user.name %}
    {{ user.name }} (@{{ user.username }})
  {% else %}
    @{{ user.username }}
  {% endif %}
{% endblock %}

{% block content %}
  <section class="container mt-1" id="main_profile">
    <div class="row">
      <div class="col-lg-3">
	<div class="d-flex align-items-baseline">
	  {% if user.name %}
	    <h2 class="border-bottom">{{ user.name }}</h2>
	    <div class="ml-auto text-muted">@{{ user.username }}</div>
	  {% else %}
	    <h2 class="border-bottom">@{{ user.username }}</h2>
	  {% endif %}
	</div>

	{# Bio #}
	<p>
	  {{ user.bio }}
	</p>
	
	{# Location #}
	{% if user.location %}
	  <div>
	    <i class="fas fa-fw fa-compass"></i>
	    {{ user.location }}
	  </div>
	{% endif %}

	{# Age #}
	{% if age %}
	  <div>
	    <i class="fas fa-fw fa-birthday-cake"></i>
	    {{ age }} {{ _("years old") }}
	  </div>
	{% endif %}
	
	{# Gender #}
	{% if user.gender == "Woman" %}
	  <i class="fas fa-fw fa-venus"></i>
	  {{ _("Woman") }}
	{% elif user.gender == "Man" %}
	  <i class="fas fa-fw fa-mars"></i>
	  {{ _("Man") }}
	{% elif user.gender == "Other" %}
	  <i class="fas fa-fw fa-genderless"></i>
	  {{ _("Other") }}
	{% endif %}
	
	{% if editable %}
	  <a class="btn btn-primary btn-block" href="{{ url_for('user.edit_profile') }}">
	    <i class="fas fa-fw fa-edit"></i>
	    {{ _("Edit profile") }}
	  </a>
	{% endif %}
      </div>
      <hr class="mt-0"/>
      <div class="col-lg-9">
	<nav class="nav profile-nav">
	  <a class="nav-link {% if mode == 'stories' %}active{% endif %}" href="#">{{ _("Stories") }}</a>
	  <a class="nav-link {% if mode == 'liked' %}active{% endif %}" href="#">{{ _("Liked stories") }}</a>
	</nav>
	<div>
	  {% if mode == 'stories' %}
	    {% for story in user.stories %}
	      {{ render_story_card(story) }}
	    {% endfor %}
	  {% endif %}
	</div>
      </div>
  </section>
{% endblock %}
