{% from 'components/field.jinja2' import render_field %}
{% extends 'base.jinja2' %}

{% block title %} {{ _("Edit a story") }} {% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
	<div class="col-lg-6">
	  <h2> {{ _("Edit a story") }} </h2>
	  <form action="{{ url_for('story.edit_story', story_id=story.id) }}" method="POST">
	    {{ form.csrf_token }}
	    <div class="row">
	      {{ render_field(form.title) }}
	    </div>
	    <div class="row">
	      {{ render_field(form.rating) }}
	    </div>
	    <div class="row">
	      {{ render_field(form.summary) }}
	    </div>
	    <div class="row">
	      {{ render_field(form.fandom) }}
	    </div>
	    <div class="row pt-2">
	      <div class="form-group col-lg-12">
		<button type="submit" class="btn btn-primary btn-block">{{ _("Submit") }}</button>
	      </div>
	    </div>
	  </form>
	</div>
	<div class="col-lg-3">
	  <h2>{{ _("Edit chapters") }}</h2>
	  <ol class="list-group list-group-flush">
	    {% for chapter in story.chapters %}
	      <a href="#">
		{% if chapter.title %}
		  <li class="list-group-item">{{ _("Chapter {chapter_nb}: {chapter_title}").format(chapter_nb=chapter.nb, chapter_title=chapter.title) }}</li>
		{% else %}
		  <li class="list-group-item">{{ _("Chapter {chapter_nb}").format(chapter_nb=chapter.nb) }}</li>
		{% endif %}
	      </a>
	    {% endfor %}
	  </ol>
	  <a class="btn btn-secondary mt-1" href="#">
	    {{ _("Add a chapter") }}
	  </a>
	</div>
      </div>
    </div>
  </section>
{% endblock %}
