{% from 'components/story_card.jinja2' import render_story_card with context %}
{% extends 'base.jinja2' %}

{% block title %} {{ _("Story list") }} {% endblock %}

{% block content %}
  <section class="container mt-1" id="main_profile">
    <div class="row">
      <div class="col-lg-2">
	{# Maybe search here later #}
      </div>
      <div class="col-lg-10">
	{% for story in stories %}
	  {{ render_story_card(story) }} 
	{% endfor %}
      </div>
  </section>
{% endblock %}
