{% extends 'base.jinja2' %}

{% block title %}
  {% if story.chapters|length > 1 %}
    {{ story.title }} — {{ _("Chapter") }} {{ chapter.nb }}
  {% else %}
    {{ story.title }}
  {% endif %}
{% endblock %}
  
{% block content %}
  <section class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
	<div class="row mb-3">
	  <div class="col">
	    <h2 class="mx-5 text-center"> {{ story.title }}</h2>
	    <a href="{{ url_for('user.profile', username=story.author.username) }}">
	      <h4 class="text-center"> {{ story.author }} </h4>
	    </a>
	    <hr />
	    {% if story.chapters|length > 1 %}
	      <h4 class="text-center">{{ _("Chapter") }} {{ chapter.nb }} — {{ chapter.title }}</h4>
	    {% endif %}
	    <div class="text-justify">
	      {{ chapter.content }}
	    </div>
	  </div>
	</div>

	{# Chapter navigation #}
	{% if story.chapters|length > 1 %}
	  <div class="row">
	    <div class="col text-center">
	      {% if chapter.nb != 1 %}
		<a href="{{ url_for('story.show_chapter', story_id=story.id, chapter_id=story.chapters[chapter.nb - 2].id) }}">
		  <i class="fas fa-arrow-left"></i>
		  {{ _("Previous chapter") }}
		</a>
	      {% endif %}
	    </div>
	    <div class="col text-center">
	      <a href="{{ url_for('story.story_index', story_id=story.id) }}">
		{{ _("Chapter index") }}
	      </a>
	    </div>
	    <div class="col text-center">
	      {% if chapter.nb != story.chapters|length %}
		<a href="{{ url_for('story.show_chapter', story_id=story.id, chapter_id=story.chapters[chapter.nb].id) }}">
		  {{ _("Next chapter") }}
		  <i class="fas fa-arrow-right"></i>
		</a>
	      {% endif %}
	    </div>
	  </div>
	{% endif %}

	{# Interaction #}
	{% if current_user.is_authenticated %}
	  <div class="row">
	    <div class="col text-center">
	      <a id="like-link" href="javascript:void(0)">
		{% if story in current_user.liked %}
		  <i class="fas fa-heart"></i>
		{% else %}
		  <i class="far fa-heart"></i>
		{% endif %}
		{{ _("Like") }}
	      </a>
	    </div>
	    <div class="col text-center">
	      <a href="#">
		<i class="fas fa-comment"></i> {{ _("Comment") }}
	      </a>
	    </div>
	  </div>
	{% endif %}
      </div>
    </div>
  </section>
{% endblock %}
