// comment_card.scss --- 
// 
// Filename: comment_card.scss
// Author: Louise <louise>
// Created: Sat May 30 16:06:20 2020 (+0200)
// Last-Updated: Sat May 30 18:41:16 2020 (+0200)
//           By: Louise <louise>
// 
