// navbar.scss --- 
// 
// Filename: navbar.scss
// Author: Louise <louise>
// Created: Sat May 30 16:04:08 2020 (+0200)
// Last-Updated: Sat Jun 20 15:09:09 2020 (+0200)
//           By: Louise <louise>
//

// General navbar
.navbar {
    font-family: $font-family-navbar;

    .navbar-brand {
	font-weight: 800;

	img {
	    height: 1.8rem;
	    padding-right: 0.4em;
	}
    }

    .navbar-nav {
	.nav-link {	
	    color: map-get($theme-colors, light);
	    text-decoration: none;
	}
    }
}

// Navbar in the profile page
.profile-nav {
    margin-bottom: 1em;
    border-bottom: 1px solid map-get($theme-colors, palette3);

    a {
	color: map-get($theme-colors, palette4);
    }
    
    a.active {
	border-bottom: 3px solid map-get($theme-colors, palette3);
    }
}
