// story_card.scss --- 
// 
// Filename: story_card.scss
// Author: Louise <louise>
// Created: Sat May 30 16:04:19 2020 (+0200)
// Last-Updated: Wed Jul 22 01:56:23 2020 (+0200)
//           By: Louise <louise>
//

.story-card {
    .story-card-info {
	display: flex;
	flex-wrap: wrap;
	
	justify-content: right;

	.story-card-single {
	    padding-inline-start: 1em;
	}
    }
}
