// _editoggia.scss --- 
// 
// Filename: _editoggia.scss
// Author: Louise <louise>
// Created: Sun May  3 05:03:32 2020 (+0200)
// Last-Updated: Sat May  9 21:55:13 2020 (+0200)
//           By: Louise <louise>
//
.navbar {
    font-family: $font-family-navbar;

    .navbar-brand {
	font-weight: 800;

	img {
	    height: 1.8rem;
	    padding-right: 0.4em;
	}
    }

    .navbar-nav {
	.nav-item {
	    height: 100%;
	    
	    a {	
		color: map-get($theme-colors, light);
		text-decoration: none;
	    }
	}
    }
}

body {
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    main {
	flex-grow: 1;
    }
}
