// _variables.scss --- 
// 
// Filename: _variables.scss
// Author: Louise <louise>
// Created: Sat May  2 05:31:08 2020 (+0200)
// Last-Updated: Sun May  3 06:19:26 2020 (+0200)
//           By: Louise <louise>
// 

// Define typography
$family-sans-serif: 'Poppins', serif;
$family-serif: 'EB Garamond', serif;
$family-brand: 'Playfair Display', serif;

$family-primary: $family-serif;
$family-secondary: $family-sans-serif;

// Title properties
$title-family: $family-secondary;

// Define colors
$palette1: #b4e7dc;
$palette2: #9accd6;
$palette3: #7b98a9;
$palette4: #5e738b;
$palette5: #464e74;

