{% from 'components/field.jinja2' import render_field %}
{% extends 'base.jinja2' %}

{% block title %} {{ _("Sign up") }} {% endblock title %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-justified">
	<h2 class="title text-center"> {{ _("Sign up") }} </h2>
	<form action="{{ url_for('auth.signup') }}" method="POST">
	  {{ form.csrf_token }}
	  <div class="row">
	    {{ render_field(form.username, col='col-lg-6') }}
	    {{ render_field(form.name, col='col-lg-6') }}
	  </div>
	  <div class="row">
	    {{ render_field(form.email) }}
	  </div>
	  <div class="row">
	    {{ render_field(form.password, col='col-lg-6') }}
	    {{ render_field(form.confirm, col='col-lg-6') }}
	  </div>
	  <div class="row pt-2">
	    <div class="form-group col-lg-12">
	      <button type="submit" class="btn btn-primary btn-block">{{ _("Submit") }}</button>
	    </div>
	  </div>
	</form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
