{% extends 'base.jinja2' %}

{% block title %} {{ _("Fiction list") }} {% endblock %}

{% block content %}
  <section class="container mt-1" id="main_profile">
    <div class="row">
      <div class="col-lg-3">
	{# Maybe search here later #}
      </div>
      <div class="col-lg-9">
	{% for fiction in fictions %}
	  <div>
	    <a href="{{ url_for('story.show_fiction', fiction_id=fiction.id) }}">{{ fiction.name }}</a>,
	    by <a href="{{ url_for('user.profile', username=fiction.author.username) }}">{{ fiction.author }}</a>
	  </div>
	{% endfor %}
      </div>
  </section>
{% endblock %}
