// _editoggia.scss --- 
// 
// Filename: _editoggia.scss
// Author: Louise <louise>
// Created: Sun May  3 05:03:32 2020 (+0200)
// Last-Updated: Mon May 18 20:51:03 2020 (+0200)
//           By: Louise <louise>
//
.navbar {
    font-family: $font-family-navbar;

    .navbar-brand {
	font-weight: 800;

	img {
	    height: 1.8rem;
	    padding-right: 0.4em;
	}
    }

    .navbar-nav {
	.nav-link {	
	    color: map-get($theme-colors, light);
	    text-decoration: none;
	}
    }
}

.profile-nav {
    margin-bottom: 1em;
    border-bottom: 1px solid map-get($theme-colors, palette3);

    a {
	color: map-get($theme-colors, palette4);
    }
    
    a.active {
	border-bottom: 3px solid map-get($theme-colors, palette3);
    }
}

body {
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    main {
	flex-grow: 1;
    }
}
