// style.scss --- 
// 
// Filename: style.scss
// Author: Louise <louise>
// Created: Sat May  2 05:30:02 2020 (+0200)
// Last-Updated: Mon Jul  6 18:55:54 2020 (+0200)
//           By: Louise <louise>
// 
@import "variables";

// Bootstrap import
@import "../node_modules/bootstrap/scss/bootstrap";

@import "overrides";
@import "_editoggia/editoggia";
