<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('home.index') }}#">
      <img src="{{ url_for('static', filename='img/raindrop.png') }}"/>
      Editoggia
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-hidden" aria-controls="navbar-hidden" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-hidden">
      <ul class="navbar-nav ml-auto">
	<li class="nav-item px-1">
          <a class="nav-link" href="{{ url_for('auth.signup') }}">
	    <i class="fas fa-fw fa-user-plus"></i>
	    {{ _("Sign up") }}
          </a>
	</li>
	<li class="nav-item px-1">
          <a class="nav-link" href="{{ url_for('auth.login') }}">
	    <i class="fas fa-fw fa-sign-in-alt"></i>
	    {{ _("Log in") }}
          </a>
	</li>
      </ul>
    </div>
  </div>
</nav>
